body, #quote, #author {
    display: flex;
    justify-content: center;
    background-color: rgb(147, 194, 223);
}

.quoteContainer {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 150px;
    width: 80%;
    border: 1px solid grey;
    border-radius: 20px;
}

#quote {
    font-family: "Bradley Hand ITC";
    text-align: center;
    font-size: 50px;
    
}

#author {
    margin-top: 10px;
    font-family: "Bradley Hand ITC";
    font-size: 45px;
    color: blue;
}

.button {
    
    margin: auto;
    padding:20px;
    border: 2px solid #1e1097;
    border-radius: 12px;
    font-size: 50px;
    color:rgb(62, 124, 158);
    text-decoration: var(--button-text-decoration);
    cursor: pointer;
    text-align: center;
    
    transition-duration:0.4s ;
  }
  
  .button:hover {
    background-color: rgb(9, 2, 61);
    color: white;
  }